/* .menu-header {
    font-size: 3rem !important;
} */

.hours {
    padding-top: 4rem;
}

.main-container {
    margin-top: 2rem;
}

.content-container {
    margin-top: 3rem;
}

.map {
    width: 600px;
    height: 450px;
    border: 0;
}

.logo {
    padding-bottom: 2rem;
}
