.hours {
    padding-top: 4rem;
}

.main-container {
    margin-top: 2rem;
}

.content-container {
    margin-top: 3rem;
    display: flex;
}

.map-nonmobile {
    width: 600px;
    height: 450px;
    border: 0;
    margin: 2rem 0;
}

@media screen and (max-width: 769px) {
    .map-nonmobile {
        width: 450px;
        height: 337.5px;
        border: 0;
        margin: 2rem 0;
        justify-content: center;
    }
}

/* @media screen and (min-width: 768px) {
} */
