.navbar {
  background-color: black;
}

#navbar-link {
  padding-right: 0.7rem;
  color: #c1d72d;
  text-decoration: none;
}

#navbar-link:hover {
  color: olivedrab;
}

#basic-nav-dropdown {
  color: #c1d72d;
}

.dropdown-toggle:after {
  content: none 
}

/* @media screen and (max-width: 769px) {
  .nav-bar {
    display: none;
  }
} */

@media screen and (min-width: 768px) {
  .dropdown {
    display: none;
  }
}
